.slider {
  padding: 35px 50px;
}

.slider-item {
  text-align: center;
}

.slider-item-media {
  width: 430px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center;
  margin-bottom: 65px;
}

.slider-item-info {
  font-size: 1.375em;
  line-height: 1.75rem;
  color: #fff;
  font-weight: 300;
  margin-bottom: 50px;
}

.slider_dot {
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 6.5px;
  cursor: pointer;
}

.slider_dot-container {
  margin: 0 auto;
  width: 130px;
}

.slider_dot__active {
  background-color: #008170;
  cursor: default;
}
body {
  font-family: 'Open Sans', sans-serif;
}

.wrap {
  max-width: 1024px;
  margin: 0 auto;
}

.btn {
  margin-bottom: 45px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 1.375em;
  line-height: 1.75rem;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn:hover {
  background-color: #fff;
  color: #1dc896;
}

.btn__green {
  background-color: #1dc896;
  text-transform: none;
  margin-bottom: 0;
}

.btn__green:hover {
  border: 1px solid #1dc896;
}
.header {
  background-color: #2f9c85;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
}

.header-nav {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  -ms-flex-item-align: start;
  align-self: start;
  position: relative;
}

.header-nav-img {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  padding: 30px 50px;
}

.header-nav-menu {
  list-style: none;
  margin: 0;
  padding: 20px 0;
}

.header-nav-menu-item_link {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 50px;
  font-size: 1em;
  line-height: 2.375rem;
  color: #a9a9a9;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.header-nav-menu-item_link:hover {
  background-color: #2f9c85;
  color: #fff;
}

.header-nav-svg {
  width: 100%;
  height: 37px;
  position: absolute;
  top: 100%;
}

.header-slider {
  padding-top: 125px;
}
.partners {
  background-color: #fff;
}

.partners-wrap {
  padding: 35px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  justify-items: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  grid-gap: 60px;
}

.partners_logo {
  cursor: pointer;
}

.partners_logo:hover {
  opacity: 0.5;
}
.thanks {
  text-align: center;
  color: #828282;
}

.thanks-wrap {
  padding: 45px 60px;
}

.thanks_title {
  font-size: 1.875em;
  line-height: 3.0625rem;
  font-weight: 300;
  width: 72.6%;
  margin: 30px auto 40px;
}

.thanks_text {
  font-size: 0.875em;
  line-height: 1.375rem;
  margin-bottom: 45px;
}
.features {
  background-color: #1dc896;
  color: #fff;
}

.features-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 60px 0;
}

.features-item {
  width: 38%;
}

.features-item_title {
  font-size: 1.5em;
  line-height: 2.125rem;
  font-weight: 300;
  margin-top: 0;
}

.features-item_text {
  font-size: 0.875em;
  line-height: 1.375rem;
  margin-bottom: 0;
}