.slider-item {
  padding: 0 50px;
  text-align: center;
}

.slider-item-media {
  width: 430px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center;
  margin-bottom: 65px;
}

.slider-item-info {
  font-size: 1.375em;
  line-height: 1.75rem;
  color: #fff;
  font-weight: 300;
}

.slider-item-btn {
  margin-bottom: 45px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 1.375em;
  line-height: 1.75rem;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
.wrap {
  max-width: 1024px;
  margin: 0 auto;
}
.header {
  background-color: #2f9c85;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav {
  background-color: #fff;
  width: 230px;
  margin-left: 20px;
  -ms-flex-item-align: start;
  align-self: start;
}

.header-nav-img {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  padding: 20px;
}

.header-nav-menu {
  list-style: none;
  margin: 0;
  padding: 20px 0;
}

.header-nav-menu-item_link {
  padding-left: 48px;
  font-size: 1em;
  line-height: 2.375rem;
  color: #a9a9a9;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.header-nav-menu-item_link:hover {
  background-color: #2f9c85;
  color: #fff;
}

.header-slider {
  padding-top: 125px;
}