.slider {
	padding: 35px 50px;
	width: 770px;
	box-sizing: border-box;
	position: 	relative;
	&-item {
		position: relative;
		width: 100%;
		box-sizing: border-box;
		display: inline-block;
		padding: 0;
		margin: 0;
		text-align: center;
		padding-top: 125px;
		white-space: pre-wrap;		
		&-media {
			width: 430px;
			margin: 0 auto;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			align-items: center;
			justify-items: center;
			margin-bottom: 65px;
		}
		&-info {
			font-size: 1.375em;
			line-height: 1.75rem;
			color: #fff;
			font-weight: 300;
			margin-bottom: 50px;
		}
	}
	&_dot {
		display: inline-block;
		width: 13px;
		height: 13px;
		border-radius: 50%;
		background-color: #fff;
		margin: 0 6.5px;
		cursor: pointer;
		&-container {
			margin: 0 auto;
			width: 130px;
		}
		&__active {
			background-color: #008170;
			cursor: default;
		}
	}
}
.frame {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}
.slides {
	list-style: none;
	padding: 0;
	margin: 0;
	display: inline-block;
	width: 670px;
}

.prev, .next {
    position: absolute;
    bottom: 0;
    display: block;
    cursor: pointer;
}

.next {
    right: 45%;
}

.prev {
    left: 45%;
}

.next svg, .prev svg {
    width: 25px;
}