.slider {
	&-item {
		padding: 0 50px;
		text-align: center;
		&-media {
			width: 430px;
			margin: 0 auto;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			align-items: center;
			justify-items: center;
			margin-bottom: 65px;
		}
		&-info {
			font-size: 1.375em;
			line-height: 1.75rem;
			color: #fff;
			font-weight: 300;
		}
		&-btn {
			margin-bottom: 45px;
			background-color: transparent;
			border: 1px solid #fff;
			color: #fff;
			font-size: 1.375em;
			line-height: 1.75rem;
			text-transform: uppercase;
			border-radius: 5px;
			padding: 10px 20px;
			cursor: pointer;
		}
	}
}