<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Document
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet")
    link(rel="stylesheet", href="css/normalize.css")
    link(rel="stylesheet", href="css/style.css")
  body
    header.header
      .wrap.header-wrap
        .header-nav
          svg.header-nav-svg
            polygon(points='0,0 234,0 114,37' fill='#fff')
          .header-nav-img
            img.header-nav-img_logo(src='images/pizza 2.png' alt='Painwall' width='134px')
          ul.header-nav-menu
            li.header-nav-menu-item
              a.header-nav-menu-item_link(href='#') Designing
            li.header-nav-menu-item
              a.header-nav-menu-item_link(href='#') Development
            li.header-nav-menu-item
              a.header-nav-menu-item_link(href='#') Inspiration
            li.header-nav-menu-item
              a.header-nav-menu-item_link(href='#') Freebies
            li.header-nav-menu-item
              a.header-nav-menu-item_link(href='#') Authors
            li.header-nav-menu-item
              a.header-nav-menu-item_link(href='#') Contact us
        .header-slider.slider
          .slider-item
            .slider-item-media
              a.slider-item-media-link
                img.slider-item-media-link_img(src='images/twitter.png' alt='twitter')
              a.slider-item-media-link
                img.slider-item-media-link_img(src='images/dribbble.png' alt='what')
              a.slider-item-media-link
                img.slider-item-media-link_img(src='images/camera.png' alt='instagram')
            .slider-item-info
              p.slider-item-info_text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni ipsum fugiat rem ratione mollitia numquam, odio vitae.
            button.btn Social media
          //- .slider-item
          //- .slider-item
          //- .slider-item
          //- .slider-item
          .slider_dot-container
            span.slider_dot.slider_dot__active
            span.slider_dot
            span.slider_dot
            span.slider_dot
            span.slider_dot
    section.partners
      .wrap.partners-wrap
        img.partners_logo(src="images/Coca.png", alt="CocaCola")
        img.partners_logo(src="images/Puma.png", alt="Puma")
        img.partners_logo(src="images/Bacardi.png", alt="Bacardi")
        img.partners_logo(src="images/Nestle.png", alt="Nestle")
    section.thanks
      .wrap.thanks-wrap
        h3.thanks_title At the same time that we are earnest to explore &amp; learn all things
        p.thanks_text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus possimus obcaecati doloremque porro, dolores sapiente hic dolorum expedita incidunt sequi deserunt quam quo laboriosam error enim, eos aspernatur veniam id.
        button.btn.btn__green Thank you